<div class="ui teal inverted vertical masthead center aligned segment bg-img">

  <% if false %>
  <%# Disable menu until the content arrives %>
  <div class="ui container">
    <div class="ui teal large secondary inverted network menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <%= render partial: "layouts/menu_links" %>
    </div>
  </div>
  <% end %>

  <div class="ui text container">
    <h1 class="ui inverted header">
      Code Harbour
    </h1>
    <h2>Learn how to create web applications</h2>
    <div class="ui huge inverted download button">Join Us <i class="right arrow icon"></i></div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container mastcontent">
    <div class="row">
      <div class="eight wide column">

        <h3 class="ui red header">Create to Learn</h3>
        <p>We believe that best way of learning is by doing. In Code Harbour learning programming is a journey. You will create number complete applications with opportinuty to publish them on web. Starting from the beginning and advancing step by step.</p>

        <h3 class="ui red header">Be part of the team</h3>
        <p>Are you currious about what is around and would you like to learn and create something new? Whether its art, blog, simple website, solving hard-core programming challenges, or setting up a startup we would like you to be part of the team. We share knowledge and create digital products together. No matter from what path of life, background, or age are you comming, you are wellcome to join.</p>

        <h3 class="ui red header">Proffesional - Agile - Fun</h3>
        <p>Following best practices, we make small steps in creating and improving. Quality and enjoying what we do is in the core of Code Harbour. One inch at time to achieve great results.</p>
        <h3 class="ui red header">Free of charge, forever</h3>
        <p>There is and never will be charge for any activity. Money are just not the asset which is interesting in this team to succeed.</p>
      </div>
      <div class="six wide right floated column">
        <%= image_tag "hands-community.jpg" %>
      </div>
    </div>
  </div>
</div>